{% extends './layout.html' %}

{% block main %}
<div>
	<br>
	后台管理 / 博客详情
	<br>
		<h2>{{ content.title }}</h2>
		<h6 style="display: inline-block; margin: 4px 0">
			(分类: {{ content.category.name }})
			(作者: {{ content.user.username }})
			(阅读量: <b>{{ content.views }}</b> 次)
			(添加时间: {{ content.addTime | date("Y-m-d H:i:s", -8*60) }})
			<a href="/admin/content">返回</a></h6>
		<p>简介: ｛{{ content.description }}｝</p>
		<div id="ContentDetail">
				{{ content.content | escape("html") }}
		</div>
	<script>
		setTimeout(function() {
			debugger
			var inner =  $("#ContentDetail").text();
			$("#ContentDetail").empty().html(inner);
		},100);
	</script>
</div>
<br>
{% endblock %}

