<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
</head>
<body>
<a href="/admin" style="font-size: 23px;">后台管理</a>
<a href="/admin/user" style="font-size: 18px;">用户管理</a>
<a href="/admin/category" style="font-size: 18px;">分类管理</a>
	<a href="/admin/category/add" style="font-size: 14px;">|添加</a>&nbsp;
<a href="/admin/content" style="font-size: 18px;">文章管理</a>
	<a href="/admin/content/add" style="font-size: 14px;">|添加</a>&nbsp;
<a href="#">评论管理</a>

<div style="display: inline-block; float: right;">
	<span class="color: #e00;">{{ userInfo.username }}</span>
	<a href="#">退出</a>
	<a href="/">回主页</a>
</div>
<br>
<hr>
<div class="container">
	{% block main %} {% endblock %}
</div>
</body>
</html>