<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/users.js"></script>
</head>
<body>
    <div class="register-box">
        <input type="text" class="username" name="username" placeholder="用户名"> <br>
        <input type="password" class="password" name="password" placeholder="密码"> <br>
        <input type="submit" class="submit" value="提交">
    </div>
</body>
</html>