<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/users.js"></script>
</head>
<body>
    <div class="register-box">
        <input type="text" class="username" name="username" placeholder="用户名"> <br>
        <input type="password" class="password" name="password" placeholder="密码"> <br>
        <input type="submit" class="register" value="注册"> &nbsp;
        <a href="javascript:" class="go-login-box">登录</a>
    </div>
    <div class="login-box" style="display: none">
        <input type="text" class="username" placeholder="用户名"> <br>
        <input type="password" class="password" placeholder="密码"> <br>
        <input type="submit" class="login" value="登录">&nbsp;
        <a href="javascript:" class="go-register-box">去注册</a>
    </div>
    <div class="api-result-box"></div>
</body>
</html>