<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/users.js"></script>
    <link href="/public/css/theme-markdowncss_github_style_blue_by_jwsky_preview.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <ul>
        <li><a href="/">首页</a></li>
        {% for cat in categories %}
        <li><a href="/?category={{ cat._id.toString() }}"> {{cat.name}} </a></li>
        {% endfor %}
    </ul>
</div>
<div class="content">
    <div class="major">
        {% if contents.length === 0 %}
        <h3> 没有博客! </h3>
        {% endif %}
        {% for content in contents %}
        <div style="padding: 5px 10px; border: dotted #eee 2px;">
            <h2 style="text-align: center">{{ content.title }}</h2>
           <div><h6 style="display: inline-block; margin: 4px 0">
               (分类: {{ content.category.name }})
               (作者: {{ content.user.username }})
               (阅读量: <b>{{ content.views }}</b> 次)
               (时间: {{ content.addTime | date("Y-m-d H:i:s", -8*60) }})
               (评论: <b>101</b> 次)
           </h6></div>
            <p style="margin: 2px 0"> {{ content.description }} </p>
            <a href="/api/content/detail" style="display: inline-block; float: left; margin-left: 0px;">全文</a>
        </div>
        {% endfor %}
        {% if pages > 1 %}
        <div class="pagination" style="height: 60px; line-height: 60px; padding: 0 40px 0 10px; text-align: center; margin-top: 15px; background-color: #efefef">
            {% if page <= 1 %}
            <a href="javascript:;" style="float: left">没有上一页</a>
            {% else %}
            <a href="/?category={{category}}&page={{page-1}}" style="float: left">上一页</a>
            {% endif %}
            <span>{{ page }}/{{ pages }} (共{{ count }}篇)</span>
            {% if page >= pages %}
            <a href="javascript:;" style="float: right">没有下一页</a>
            {% else %}
            <a href="/?category={{category}}&page={{page+1}}" style="float: right">下一页</a>
            {% endif %}
        </div>
        {% endif %}

    </div>
    <div class="user">
        {% if userInfo._id %}
        <div class="userinfo-box">欢迎
            {% if !userInfo.isAdmin %}<i> 用户： {% else %}</i> <i> 管理员（<a href="/admin">进入后台管理</a>）： </i> {% endif %}
            <i class="minename">{{ userInfo.username }}</i> 登录我的博客 &nbsp;
            <a href="javascript:;" id="logout">退出</a>
        </div>
        {% else %}
        <div class="login-box">
            <input type="text" class="username" placeholder="用户名"> <br>
            <input type="password" class="password" placeholder="密码"> <br>
            <input type="submit" class="login" value="登录">&nbsp;
            <a href="javascript:" class="go-register-box">去注册</a>
        </div>
        <div class="register-box" style="display: none">
            <input type="text" class="username" name="username" placeholder="用户名"> <br>
            <input type="password" class="password" name="password" placeholder="密码"> <br>
            <input type="submit" class="register" value="注册"> &nbsp;
            <a href="javascript:" class="go-login-box">登录</a>
        </div>
        {% endif %}
        <div class="api-result-box"></div>
    </div>
</div>

</body>
</html>